<!--

    This is free and unencumbered software released into the public domain.

    Anyone is free to copy, modify, publish, use, compile, sell, or
    distribute this software, either in source code form or as a compiled
    binary, for any purpose, commercial or non-commercial, and by any
    means.

    In jurisdictions that recognize copyright laws, the author or authors
    of this software dedicate any and all copyright interest in the
    software to the public domain. We make this dedication for the benefit
    of the public at large and to the detriment of our heirs and
    successors. We intend this dedication to be an overt act of
    relinquishment in perpetuity of all present and future rights to this
    software under copyright law.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
    EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
    IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
    OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
    ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
    OTHER DEALINGS IN THE SOFTWARE.

    For more information, please refer to <http://unlicense.org>

-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="utf-8"/>
        <title>ID Service</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link href="/webjars/normalize.css/3.0.2/normalize.css" rel="stylesheet" type="text/css"></link>
        <link href="/webjars/octicons/3.4.1/octicons.css" rel="stylesheet" type="text/css"></link>
        <link href="/css/web.css" rel="stylesheet" type="text/css"></link>
        <link href="/css/alert.css" rel="stylesheet" type="text/css"></link>
        <script src="/webjars/webcomponentsjs/0.7.2/webcomponents-lite.min.js"></script>
        <link rel="import" href="/webjars/polymer/1.0.8/polymer.html"></link>
        <link rel="import" href="/imports/id-value.html"></link>
        <link rel="import" href="/imports/id-multiplier.html"></link>
        <script src="/js/clipboard.js" type="application/javascript"></script>
        <script src="/js/clipboard.js" type="application/javascript;version=1.7"></script>
    </head>
    <body>
        <div id="alerts">
            <div id="alert-container"></div>
        </div>

        <h1 id="identifiers"><a href="/#identifiers">Identifiers</a></h1>
        <div class="identifiers">
            <div th:if="${sequences}" class="identifier">
                <h2 class="header">
                    <a th:href="@{/sequences#identifiers}">Sequences</a>
                    <id-multiplier th:if="${quantity}" th:attr="value=${quantity}"></id-multiplier>
                </h2>

                <div th:if="${sequence}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/sequences/sequence}, name='sequence', type='plain text')"></div>
                </div>
                <div th:if="${sequence36}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/sequences/base36}, name='sequence', type='Base36')"></div>
                </div>
                <div th:if="${sequence62}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/sequences/base62}, name='sequence', type='Base62')"></div>
                </div>
                <div th:if="${sequence64}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/sequences/base64}, name='sequence', type='Base64')"></div>
                </div>
                <div th:if="${sequenceHashId}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/sequences/hashid}, name='sequence', type='HashId')"></div>
                </div>
            </div>
            <div th:if="${timestamps}" class="identifier">
                <h2 class="header">
                    <a th:href="@{/timestamps#identifiers}">Timestamps</a>
                    <id-multiplier th:if="${quantity}" th:attr="value=${quantity}"></id-multiplier>
                </h2>

                <div th:if="${timestamp}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/timestamps/timestamp}, name='timestamp', type='plain text')"></div>
                </div>
                <div th:if="${timestamp36}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/timestamps/base36}, name='timestamp', type='Base36')"></div>
                </div>
                <div th:if="${timestamp62}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/timestamps/base62}, name='timestamp', type='Base62')"></div>
                </div>
                <div th:if="${timestamp64}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/timestamps/base64}, name='timestamp', type='Base64')"></div>
                </div>
                <div th:if="${timestampHashId}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/timestamps/hashid}, name='timestamp', type='HashId')"></div>
                </div>
            </div>
            <div th:if="${uuids}" class="identifier">
                <h2 class="header">
                    <a th:href="@{/uuids#identifiers}">UUIDs</a>
                    <id-multiplier th:if="${quantity}" th:attr="value=${quantity}"></id-multiplier>
                </h2>

                <div th:if="${uuid}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/uuids/uuid}, name='UUID', type='plain text')"></div>
                </div>
                <div th:if="${uuid36}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/uuids/base36}, name='UUID', type='Base36')"></div>
                </div>
                <div th:if="${uuid62}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/uuids/base62}, name='UUID', type='Base62')"></div>
                </div>
                <div th:if="${uuid64}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/uuids/base64}, name='UUID', type='Base64')"></div>
                </div>
                <div th:if="${uuidHashId}">
                    <div th:replace="identifier :: id (quantity=${quantity}, path=@{/uuids/hashid}, name='UUID', type='HashId')"></div>
                </div>
            </div>
        </div>

        <h1 id="apis"><a href="/#apis">API</a></h1>
        <div class="apis">
            <div th:if="${sequences}" class="api">
                <h2><a th:href="@{/sequences#apis}">Sequences</a></h2>

                <div th:if="${sequence}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/sequences/sequence}, name='sequence', type='plain text')"></div>
                </div>
                <div th:if="${sequence36}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/sequences/base36}, name='sequence', type='Base36')"></div>
                </div>
                <div th:if="${sequence62}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/sequences/base62}, name='sequence', type='Base62')"></div>
                </div>
                <div th:if="${sequence64}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/sequences/base64}, name='sequence', type='Base64')"></div>
                </div>
                <div th:if="${sequenceHashId}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/sequences/hashId}, name='sequence', type='HashId')"></div>
                </div>
            </div>
            <div th:if="${timestamps}" class="api">
                <h2><a th:href="@{/timestamps#apis}">Timestamps</a></h2>

                <div th:if="${timestamp}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/timestamps/timestamp}, name='timestamp', type='plain text')"></div>
                </div>
                <div th:if="${timestamp36}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/timestamps/base36}, name='timestamp', type='Base36')"></div>
                </div>
                <div th:if="${timestamp62}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/timestamps/base62}, name='timestamp', type='Base62')"></div>
                </div>
                <div th:if="${timestamp64}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/timestamps/base64}, name='timestamp', type='Base64')"></div>
                </div>
                <div th:if="${timestampHashId}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/timestamps/hashid}, name='timestamp', type='HashId')"></div>
                </div>
            </div>
            <div th:if="${uuids}" class="api">
                <h2><a th:href="@{/uuids#apis}">UUIDs</a></h2>

                <div th:if="${uuid}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/uuids/uuid}, name='UUID', type='plain text')"></div>
                </div>
                <div th:if="${uuid36}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/uuids/base36}, name='UUID', type='Base36')"></div>
                </div>
                <div th:if="${uuid62}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/uuids/base62}, name='UUID', type='Base62')"></div>
                </div>
                <div th:if="${uuid64}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/uuids/base64}, name='UUID', type='Base64')"></div>
                </div>
                <div th:if="${uuidHashId}">
                    <div th:replace="identifier :: curl (quantity=${quantity}, path=@{/uuids/hashid}, name='UUID', type='HashId')"></div>
                </div>
            </div>
        </div>

        <h1 id="webcomponents"><a href="/#webcomponents">Web Component</a></h1>
        <div class="apis">
            <div th:if="${sequences}" class="api">
                <h2><a th:href="@{/sequences#webcomponents}">Sequences</a></h2>
                <div>
                    <p>Load the <a href="http://webcomponents.org/">webcomponent.js</a> polyfill, import <a href="https://www.polymer-project.org/">poylmer</a>, and the 'id-value' component:</p>
<pre>
&lt;script src="webcomponents-lite.min.js"&gt;&lt;/script&gt;
&lt;link rel="import" href="polymer.html"&gt;&lt;/link&gt;
&lt;link rel="import" href="id-value.html"&gt;&lt;/link&gt;
</pre>
                </div>

                <div th:if="${sequence}">
                    <p>Display a <a th:href="@{/sequences/timestamp#webcomponents}">new sequence</a> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/sequences/sequence' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
                <div th:if="${sequence36}">
                    <p>Display a <a th:href="@{/sequences/base36#webcomponents}">new sequence</a> in <strong>Base36</strong> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/sequences/base36' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
                <div th:if="${sequence62}">
                    <p>Display a <a th:href="@{/sequences/base62#webcomponents}">new sequence</a> in <strong>Base62</strong> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/sequences/base62' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
                <div th:if="${sequence64}">
                    <p>Display a <a th:href="@{/sequences/base64#webcomponents}">new sequence</a> in <strong>Base64</strong> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/sequences/base64' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
                <div th:if="${sequenceHashId}">
                    <p>Display a <a th:href="@{/sequences/baseHashId#webcomponents}">new sequence</a> as <strong>HashId</strong> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/sequences/baseHashId' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
            </div>
            <div th:if="${timestamps}" class="api">
                <h2><a th:href="@{/timestamps#webcomponents}">Timestamps</a></h2>
                <div>
                    <p>Load the <a href="http://webcomponents.org/">webcomponent.js</a> polyfill, import <a href="https://www.polymer-project.org/">poylmer</a>, and the 'id-value' component:</p>
<pre>
&lt;script src="webcomponents-lite.min.js"&gt;&lt;/script&gt;
&lt;link rel="import" href="polymer.html"&gt;&lt;/link&gt;
&lt;link rel="import" href="id-value.html"&gt;&lt;/link&gt;
</pre>
                </div>

                <div th:if="${timestamp}">
                    <p>Display a <a th:href="@{/timestamps/timestamp#webcomponents}">new timestamp</a> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/timestamps/timestamp' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
                <div th:if="${timestamp36}">
                    <p>Display a <a th:href="@{/timestamps/base36#webcomponents}">new timestamp</a> in <strong>Base36</strong> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/timestamps/base36' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
                <div th:if="${timestamp62}">
                    <p>Display a <a th:href="@{/timestamps/base62#webcomponents}">new timestamp</a> in <strong>Base62</strong> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/timestamps/base62' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
                <div th:if="${timestamp64}">
                    <p>Display a <a th:href="@{/timestamps/base64#webcomponents}">new timestamp</a> in <strong>Base64</strong> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/timestamps/base64' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
                <div th:if="${timestampHashId}">
                    <p>Display a <a th:href="@{/timestamps/baseHashId#webcomponents}">new timestamp</a> as <strong>HashId</strong> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/timestamps/baseHashId' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
            </div>
            <div th:if="${uuids}" class="api">
                <h2><a th:href="@{/uuids#webcomponents}">UUIDs</a></h2>
                <div>
                    <p>Load the <a href="http://webcomponents.org/">webcomponent.js</a> polyfill, import <a href="https://www.polymer-project.org/">poylmer</a>, and the 'id-value' component:</p>
<pre>
&lt;script src="webcomponents-lite.min.js"&gt;&lt;/script&gt;
&lt;link rel="import" href="polymer.html"&gt;&lt;/link&gt;
&lt;link rel="import" href="id-value.html"&gt;&lt;/link&gt;
</pre>
                </div>

                <div th:if="${uuid}">
                    <p>Display a <a th:href="@{/uuids/uuid#webcomponents}">new UUID</a> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/uuids/uuid' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
                <div th:if="${uuid36}">
                    <p>Display a <a th:href="@{/uuids/base36#webcomponents}">new UUID</a> in <strong>Base36</strong> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/uuids/base36' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
                <div th:if="${uuid62}">
                    <p>Display a <a th:href="@{/uuids/base62#webcomponents}">new UUID</a> in <strong>Base62</strong> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/uuids/base62' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
                <div th:if="${uuid64}">
                    <p>Display a <a th:href="@{/uuids/base64#webcomponents}">new UUID</a> in <strong>Base64</strong> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/uuids/base64' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
                <div th:if="${uuidHashId}">
                    <p>Display a <a th:href="@{/uuids/baseHashId#webcomponents}">new UUID</a> as <strong>HashId</strong> with: </p>
                    <pre th:text="@{&lt;id-value path='{host}/uuids/baseHashId' value='initial-value'&gt;&lt;/id-value&gt;(host=${HOST})}"></pre>
                </div>
            </div>
        </div>

        <h1 id="javaclient"><a href="/#javaclient">Java Client</a></h1>
        <div class="apis">
            <div th:if="${sequences}" class="api">
                <h2><a th:href="@{/sequences#javaclient}">Sequences</a></h2>

                <div>
                    <p>Declare Maven dependency, and create a client:</p>
                    <pre th:text="'final IdentifierHttpClient client = IdentifierHttpClients.client(&quot;' + ${HOST} + '&quot;);'"></pre>
                </div>

                <div th:if="${sequence}">
                    <p>Display a <a th:href="@{/sequences/sequence#javaclient}">new sequence</a> with: </p>
                    <pre>final String identifier = client.getNextSequence();</pre>
                </div>
                <div th:if="${sequence36}">
                    <p>Display a <a th:href="@{/sequences/base36#javaclient}">new sequence</a> in <strong>Base36</strong> with: </p>
                    <pre>final String identifier = client.getNextSequenceInBase36();</pre>
                </div>
                <div th:if="${sequence62}">
                    <p>Display a <a th:href="@{/sequences/base62#javaclient}">new sequence</a> in <strong>Base62</strong> with: </p>
                    <pre>final String identifier = client.getNextSequenceInBase62();</pre>
                </div>
                <div th:if="${sequence64}">
                    <p>Display a <a th:href="@{/sequences/base64#javaclient}">new sequence</a> in <strong>Base64</strong> with: </p>
                    <pre>final String identifier = client.getNextSequenceInBase64();</pre>
                </div>
                <div th:if="${sequenceHashId}">
                    <p>Display a <a th:href="@{/sequences/hashid#javaclient}">new sequence</a> in <strong>HashId</strong> with: </p>
                    <pre>final String identifier = client.getNextSequenceAsHashId();</pre>
                </div>
            </div>
            <div th:if="${timestamps}" class="api">
                <h2><a th:href="@{/timestamps#javaclient}">Timestamps</a></h2>

                <div>
                    <p>Declare Maven dependency, and create a client:</p>
                    <pre th:text="'final IdentifierHttpClient client = IdentifierHttpClients.client(&quot;' + ${HOST} + '&quot;);'"></pre>
                </div>

                <div th:if="${timestamp}">
                    <p>Display a <a th:href="@{/timestamps/timestamp#javaclient}">new timestamp</a> with: </p>
                    <pre>final String identifier = client.getNextTimestamp();</pre>
                </div>
                <div th:if="${timestamp36}">
                    <p>Display a <a th:href="@{/timestamps/base36#javaclient}">new timestamp</a> in <strong>Base36</strong> with: </p>
                    <pre>final String identifier = client.getNextTimestampInBase36();</pre>
                </div>
                <div th:if="${timestamp62}">
                    <p>Display a <a th:href="@{/timestamps/base62#javaclient}">new timestamp</a> in <strong>Base62</strong> with: </p>
                    <pre>final String identifier = client.getNextTimestampInBase62();</pre>
                </div>
                <div th:if="${timestamp64}">
                    <p>Display a <a th:href="@{/timestamps/base64#javaclient}">new timestamp</a> in <strong>Base64</strong> with: </p>
                    <pre>final String identifier = client.getNextTimestampInBase64();</pre>
                </div>
                <div th:if="${timestampHashId}">
                    <p>Display a <a th:href="@{/timestamps/hashid#javaclient}">new timestamp</a> in <strong>HashId</strong> with: </p>
                    <pre>final String identifier = client.getNextTimestampAsHashId();</pre>
                </div>
            </div>
            <div th:if="${uuids}" class="api">
                <h2><a th:href="@{/uuids#javaclient}">UUIDs</a></h2>

                <div>
                    <p>Declare Maven dependency, and create a client:</p>
                    <pre th:text="'final IdentifierHttpClient client = IdentifierHttpClients.client(&quot;' + ${HOST} + '&quot;);'"></pre>
                </div>

                <div th:if="${uuid}">
                    <p>Display a <a th:href="@{/uuids/uuid#javaclient}">new UUID</a> with: </p>
                    <pre>final String identifier = client.getNextUuid();</pre>
                </div>
                <div th:if="${uuid36}">
                    <p>Display a <a th:href="@{/uuids/base36#javaclient}">new new UUID</a> in <strong>Base36</strong> with: </p>
                    <pre>final String identifier = client.getNextUuidInBase36();</pre>
                </div>
                <div th:if="${uuid62}">
                    <p>Display a <a th:href="@{/uuids/base62#javaclient}">new new UUID</a> in <strong>Base62</strong> with: </p>
                    <pre>final String identifier = client.getNextUuidInBase62();</pre>
                </div>
                <div th:if="${uuid64}">
                    <p>Display a <a th:href="@{/uuids/base64#javaclient}">new new UUID</a> in <strong>Base64</strong> with: </p>
                    <pre>final String identifier = client.getNextUuidInBase64();</pre>
                </div>
                <div th:if="${uuidHashId}">
                    <p>Display a <a th:href="@{/uuids/hashid#javaclient}">new new UUID</a> in <strong>HashId</strong> with: </p>
                    <pre>final String identifier = client.getNextUuidAsHashId();</pre>
                </div>
            </div>
        </div>

        <a href="https://github.com/sebhoss/identifier-service"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></img></a>
    </body>
</html>
