<!--

    This is free and unencumbered software released into the public domain.

    Anyone is free to copy, modify, publish, use, compile, sell, or
    distribute this software, either in source code form or as a compiled
    binary, for any purpose, commercial or non-commercial, and by any
    means.

    In jurisdictions that recognize copyright laws, the author or authors
    of this software dedicate any and all copyright interest in the
    software to the public domain. We make this dedication for the benefit
    of the public at large and to the detriment of our heirs and
    successors. We intend this dedication to be an overt act of
    relinquishment in perpetuity of all present and future rights to this
    software under copyright law.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
    EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
    IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
    OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
    ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
    OTHER DEALINGS IN THE SOFTWARE.

    For more information, please refer to <http://unlicense.org>

-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="utf-8"/>
        <title>ID Service</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link href="/webjars/normalize.css/3.0.2/normalize.css" rel="stylesheet" type="text/css"></link>
        <link href="/css/web.css" rel="stylesheet" type="text/css"></link>
        <link href="/css/alert.css" rel="stylesheet" type="text/css"></link>
        <script src="/js/clipboard.js" type="application/javascript"></script>
        <script src="/js/clipboard.js" type="application/javascript;version=1.7"></script>
        <script src="/js/fetchIdentifier.js" type="application/javascript"></script>
        <script src="/js/fetchIdentifier.js" type="application/javascript;version=1.7"></script>
    </head>
    <body>
        <h1><a href="/">Identifiers</a></h1>

        <div id="alerts">
            <div id="alert-container"></div>
        </div>

        <div class="identifiers">
            <div th:if="${sequences}" class="identifier">
                <h2><a th:href="@{/sequences}">Sequences</a></h2>

                <div th:if="${sequence}" class="identifier-container">
                    <p>Here is a <a th:href="@{/sequences/sequence}">new sequence</a> number for you: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${sequence}">72</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${sequence36}" class="identifier-container">
                    <p>Here is a <a th:href="@{/sequences/base36}">new sequence</a> number for you in <strong>Base36</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${sequence36}">21</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${sequence62}" class="identifier-container">
                    <p>Here is a <a th:href="@{/sequences/base62}">new sequence</a> number for you in <strong>Base62</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${sequence62}">zKJKZkA</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${sequence64}" class="identifier-container">
                    <p>Here is a <a th:href="@{/sequences/base64}">new sequence</a> number for you in <strong>Base64</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${sequence64}">NzU</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${sequence85}" class="identifier-container">
                    <p>Here is a <a th:href="@{/sequences/base85}">new sequence</a> number for you in <strong>Base85</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${sequence85}">o@1</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${sequenceHashId}" class="identifier-container">
                    <p>Here is a <a th:href="@{/sequences/hashid}">new sequence</a> number for you as <strong>HashId</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${sequenceHashId}">eRM</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>
            </div>
            <div th:if="${timestamps}" class="identifier">
                <h2><a th:href="@{/timestamps}">Timestamps</a></h2>

                <div th:if="${timestamp}" class="identifier-container">
                    <p>Here is a <a th:href="@{/timestamps/timestamp}">new timestamp</a> for you: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${timestamp}">1453517527610</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${timestamp36}" class="identifier-container">
                    <p>Here is a <a th:href="@{/timestamps/base36}">new timestamp</a> for you in <strong>Base36</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${timestamp36}">ijqit262</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${timestamp62}" class="identifier-container">
                    <p>Here is a <a th:href="@{/timestamps/base62}">new timestamp</a> for you in <strong>Base62</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${timestamp62}">zKJ5z4E</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${timestamp64}" class="identifier-container">
                    <p>Here is a <a th:href="@{/timestamps/base64}">new timestamp</a> for you in <strong>Base64</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${timestamp64}">MTQ1MzUxNzUyNzYxMA</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${timestamp85}" class="identifier-container">
                    <p>Here is a <a th:href="@{/timestamps/base85}">new timestamp</a> for you in <strong>Base85</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${timestamp85}">f/g:zh8d3Egb?9CM0</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${timestampHashId}" class="identifier-container">
                    <p>Here is a <a th:href="@{/timestamps/hashid}">new timestamp</a> for you as a <strong>HashId</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${timestampHashId}">yXVz4oGPd</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>
            </div>
            <div th:if="${uuids}" class="identifier">
                <h2><a th:href="@{/uuids}">UUIDs</a></h2>

                <div th:if="${uuid}" class="identifier-container">
                    <p>Here is a <a th:href="@{/uuids/uuid}">new UUID</a> for you: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${uuid}">2a5f3470-f7f8-11e4-b939-0800200c9a66</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${uuid36}" class="identifier-container">
                    <p>Here is a <a th:href="@{/uuids/base36}">new UUID</a> for you in <strong>Base36</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${uuid36}">5aqfni2ptvdfjjs9uvmqazjm9</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${uuid62}" class="identifier-container">
                    <p>Here is a <a th:href="@{/uuids/base62}">new UUID</a> for you in <strong>Base62</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${uuid62}">J2YnDjnZoPnAy6Rk3J9Tu</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${uuid64}" class="identifier-container">
                    <p>Here is a <a th:href="@{/uuids/base64}">new UUID</a> for you in <strong>Base64</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${uuid64}">la/YJMgpQZeZ744Zh4v16w</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${uuid85}" class="identifier-container">
                    <p>Here is a <a th:href="@{/uuids/base85}">new UUID</a> for you in <strong>Base85</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${uuid85}">7[g:{M9:34Ie=ZIDGH.E</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>

                <div th:if="${uuidHashId}" class="identifier-container">
                    <p>Here is a <a th:href="@{/uuids/hashid}">new UUID</a> for you as a <strong>HashId</strong>: </p>
                    <div class="identifier-block">
                        <pre><strong th:text="${uuidHashId}">W9O35pFkQ6uxi2B75Mi7GA</strong></pre>
                        <img src="/images/refresh.svg" width="20px" height="20px"></img>
                    </div>
                </div>
            </div>
        </div>

        <h1><a href="/">API</a></h1>

        <div class="apis">
            <div th:if="${sequences}" class="api">
                <h2><a th:href="@{/sequences}">Sequences</a></h2>

                <div th:if="${sequence}">
                    <p>Create a <a th:href="@{/sequences/sequence}">new sequence</a> using cURL with: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/sequences/sequence(host=${HOST})}"></pre>
                </div>

                <div th:if="${sequence36}">
                    <p>Create a <a th:href="@{/sequences/base36}">new sequence</a> using cURL with in <strong>Base36</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/sequences/base36(host=${HOST})}"></pre>
                </div>

                <div th:if="${sequence62}">
                    <p>Create a <a th:href="@{/sequences/base62}">new sequence</a> using cURL with in <strong>Base62</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/sequences/base62(host=${HOST})}"></pre>
                </div>

                <div th:if="${sequence64}">
                    <p>Create a <a th:href="@{/sequences/base64}">new sequence</a> using cURL with in <strong>Base64</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/sequences/base64(host=${HOST})}"></pre>
                </div>

                <div th:if="${sequence85}">
                    <p>Create a <a th:href="@{/sequences/base85}">new sequence</a> using cURL with in <strong>Base85</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/sequences/base85(host=${HOST})}"></pre>
                </div>

                <div th:if="${sequenceHashId}">
                    <p>Create a <a th:href="@{/sequences/hashid}">new sequence</a> using cURL with as <strong>HashId</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/sequences/hashid(host=${HOST})}"></pre>
                </div>
            </div>
            <div th:if="${timestamps}" class="api">
                <h2><a th:href="@{/timestamps}">Timestamps</a></h2>

                <div th:if="${timestamp}">
                    <p>Create a <a th:href="@{/timestamps/timestamp}">new timestamp</a> using cURL with: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/timestamps/timestamp(host=${HOST})}"></pre>
                </div>

                <div th:if="${timestamp36}">
                    <p>Create a <a th:href="@{/timestamps/base36}">new timestamp</a> using cURL with in <strong>Base36</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/timestamps/base36(host=${HOST})}"></pre>
                </div>

                <div th:if="${timestamp62}">
                    <p>Create a <a th:href="@{/timestamps/base62}">new timestamp</a> using cURL with in <strong>Base62</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/timestamps/base62(host=${HOST})}"></pre>
                </div>

                <div th:if="${timestamp64}">
                    <p>Create a <a th:href="@{/timestamps/base64}">new timestamp</a> using cURL with in <strong>Base64</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/timestamps/base64(host=${HOST})}"></pre>
                </div>

                <div th:if="${timestamp85}">
                    <p>Create a <a th:href="@{/timestamps/base85}">new timestamp</a> using cURL with in <strong>Base85</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/timestamps/base85(host=${HOST})}"></pre>
                </div>

                <div th:if="${timestampHashId}">
                    <p>Create a <a th:href="@{/timestamps/hashid}">new timestamp</a> using cURL with as <strong>HashId</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/timestamps/hashid(host=${HOST})}"></pre>
                </div>
            </div>
            <div th:if="${uuids}" class="api">
                <h2><a th:href="@{/uuids}">UUIDs</a></h2>

                <div th:if="${uuid}">
                    <p>Create a <a th:href="@{/uuids/uuid}">new UUID</a> using cURL with: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/uuids/uuid(host=${HOST})}"></pre>
                </div>

                <div th:if="${uuid36}">
                    <p>Create a <a th:href="@{/uuids/base36}">new UUID</a> using cURL with in <strong>Base36</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/uuids/base36(host=${HOST})}"></pre>
                </div>

                <div th:if="${uuid62}">
                    <p>Create a <a th:href="@{/uuids/base62}">new UUID</a> using cURL with in <strong>Base62</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/uuids/base62(host=${HOST})}"></pre>
                </div>

                <div th:if="${uuid64}">
                    <p>Create a <a th:href="@{/uuids/base64}">new UUID</a> using cURL with in <strong>Base64</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/uuids/base64(host=${HOST})}"></pre>
                </div>

                <div th:if="${uuid85}">
                    <p>Create a <a th:href="@{/uuids/base85}">new UUID</a> using cURL with in <strong>Base85</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/uuids/base85(host=${HOST})}"></pre>
                </div>

                <div th:if="${uuidHashId}">
                    <p>Create a <a th:href="@{/uuids/hashid}">new UUID</a> using cURL with as <strong>HashId</strong>: </p>
                    <pre th:text="@{curl -G -H 'Accept: text/plain' {host}/uuids/hashid(host=${HOST})}"></pre>
                </div>
            </div>
        </div>

        <a href="https://github.com/sebhoss/identifier-service"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></img></a>
    </body>
</html>
